@import url('http://fonts.cdnfonts.com/css/gotham');

body {
    font-family: 'Gotham', sans-serif;
    font-size: 200%;
    color: #ffffff;
    background-color: #323643
}

/* GOTHAM FONT OPTIONS
font-family: 'Gotham', sans-serif;
font-family: 'Gotham Black', sans-serif;
font-family: 'Gotham Light', sans-serif;
font-family: 'Gotham Thin', sans-serif;
font-family: 'Gotham XLight', sans-serif;
font-family: 'Gotham Book', sans-serif;
font-family: 'Gotham Ultra', sans-serif;
*/