@import url('http://fonts.cdnfonts.com/css/gotham');

body {
    animation: gradient ease 10s infinite alternate;

    font-family: 'Gotham', sans-serif;
    font-size: 200%;
    color: #ffffff;
    background-image: linear-gradient(to right, #323643, #3b3243, #6e4c8e);
    background-size: 200%, 200%;
}

@keyframes gradient {
    0% {
        background-position: 0 25%;
    }
    100% {
        background-position: 50% 100%;
    }
}

/* GOTHAM FONT OPTIONS
font-family: 'Gotham', sans-serif;
font-family: 'Gotham Black', sans-serif;
font-family: 'Gotham Light', sans-serif;
font-family: 'Gotham Thin', sans-serif;
font-family: 'Gotham XLight', sans-serif;
font-family: 'Gotham Book', sans-serif;
font-family: 'Gotham Ultra', sans-serif;
*/