@import url('http://fonts.cdnfonts.com/css/gotham');

body {
    margin: 0;
}

.navbar {
    box-shadow: 0 1px 5px #212432;
}

.mark {
    float: left;
    font-family: 'Gotham XLight', sans-serif;
    font-size: 50%;
    padding: 0 20px;
    position: absolute;
}

ul {
    background-color: #323643;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    font-family: 'Gotham XLight', sans-serif;
    font-size: 50%;
    margin: 0;
    padding: 15px 0;
}
.navlink {
    color: #ffffff;
    font-style: none;
    padding: 15px 40px;
    text-decoration: none;
    transition-duration: 250ms;
}

.navlink:hover {
    background-color: #212532;
    padding: 15px 70px;
    transition-duration: 500ms;
}