@import url('http://fonts.cdnfonts.com/css/gotham');

body {
    font-family: 'Gotham XLight', sans-serif;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    background-color: #fbf2ef;
}

.header {
    height: 6.7vh;

    ul {
        background-color: #e9e0d6;
        list-style-type: none;
        margin: 0;
        overflow: hidden;
        padding: 0;

        li {
            float: left;

            a {
                color: #000000;
                display: block;
                font-size: 1.1vw;
                padding: 2.35vh;
                text-decoration: none;
            }

            button {
                font-family: 'Gotham XLight', sans-serif;
                border: none;
                background-color: #e9e0d6;
                color: #000000;
                cursor: pointer;
                display: block;
                font-size: 1.1vw;
                padding: 2.35vh;
                text-decoration: none;
            }
        }

        li:hover:not(.superSecretButton) {
            background-color: #fbf2ef;

            button {
                background-color: #fbf2ef;
            }
        }

        .superSecretButton {  
            float: right;
            margin: 0;

            a {
                cursor: help;
            }
        }
    }
}

.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;

    a {
        color: #000000;
        text-decoration: none;
    }

    a:hover {
        color: #000000;
    }

    .link {
        transition: 0.25s;
    }

    .link:hover {
        transform: scale(1.05);
    }

    h1 {
        text-align: center;
    }

    h3 {
        text-align: center;
    }

    p {
        padding: 0 25px;
        text-indent: 4em;
    }

    img {
        height: 35vw;
        box-shadow: 0.2vw 0.2vw #aaaaaa;
        transform: translate(0vw, 0vw);
    }

    img:hover {
        animation: imageHover 0.25s;
        box-shadow: 0.4vw 0.4vw #aaaaaa;
        transform: translate(-0.2vw, -0.2vw);
    }

    img:not(:hover) {
        animation: imageHoverOff 0.5s;
    }

    @keyframes imageHover {
        0% {
            box-shadow: 0.2vw 0.2vw #aaaaaa; 
            transform: translate(0vw, 0vw);
        }
        100% {
            box-shadow: 0.4vw 0.4vw #aaaaaa;
            transform: translate(-0.2vw, -0.2vw);
        }
    }
    @keyframes imageHoverOff {
        0% {
            box-shadow: 0.4vw 0.4vw #aaaaaa;
            transform: translate(-0.2vw, -0.2vw);
        }
        100% {
            box-shadow: 0.2vw 0.2vw #aaaaaa; 
            transform: translate(0vw, 0vw);
        }
    }
}

.sectionMobile {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    
    font-size: 3vw;

    a {
        color: #000000;
        text-decoration: none;
    }

    a:hover {
        color: #000000;
    }

    .link {
        transition: 0.25s;
    }

    .link:hover {
        transform: scale(1.05);
    }

    h1 {
        text-align: center;
    }

    h3 {
        text-align: center;
    }

    p {
        padding: 0 25px;
        text-indent: 4em;
    }

    img {
        height: 60vw;
        box-shadow: 0.6vw 0.6vw #aaaaaa;
        transform: translate(0vw, 0vw);
    }

    img:hover {
        animation: imageHoverMobile 0.25s;
        box-shadow: 1.2vw 1.2vw #aaaaaa;
        transform: translate(-0.6vw, -0.6vw);
    }

    img:not(:hover) {
        animation: imageHoverOffMobile 0.5s;
    }

    @keyframes imageHoverMobile {
        0% {
            box-shadow: 0.6vw 0.6vw #aaaaaa; 
            transform: translate(0vw, 0vw);
        }
        100% {
            box-shadow: 1.2vw 1.2vw #aaaaaa;
            transform: translate(-0.6vw, -0.6vw);
        }
    }
    @keyframes imageHoverOffMobile {
        0% {
            box-shadow: 1.2vw 1.2vw #aaaaaa;
            transform: translate(-0.6vw, -0.6vw);
        }
        100% {
            box-shadow: 0.6vw 0.6vw #aaaaaa; 
            transform: translate(0vw, 0vw);
        }
    }
}

.footer {
    height: 45vh;
    background-color: #e9e0d6;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;

    .blocks {        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        padding: 5vh 0 20vh 0;

        p {
            font-weight: bold;
        }

        ul {
            padding: 0;

            li {
                list-style-type: none;
            }
        }
    }
    
    a {
        color: #000000;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}

.about {
    
    h1 {
        text-align: center;
    }

    img {
        filter: brightness(0);
    }
}

.contact {

    a {
        color: #000000;
        text-decoration: none;
    }
}

.supersecret {

    .pickers {
        left: 32.5vw;
        top: 80vh;
        position: absolute;
        
        div {
            margin: 0 0.5vw;
            float:left;
        }
    }
}

.square {
    transform: scale(0);

    .text {
        color: 'transparent';
    }
}
  
.square-animation {
    animation: wipe-enter ease forwards;
}

@keyframes wipe-enter {
	0% {
		transform: scale(0, 0.025);
	}
    25% {
		transform: scale(1, 0.025);
    }
    80% {
		transform: scale(1, 1.1);
    }
	100% {
		transform: scale(1, 1);
	}
}


.text-animation {
    animation: fade-in 1.5s ease forwards;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
    90% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}